/*Estilos Generales*/
*{
	margin: 0px;
	padding: 0;
	color:white;
}

/*Fondo General*/
html, body, .cover{
	height: 100%;
}

.cover{
background-image: url(../IMG/Netflix.jpg);
}
section{
	background-color: black;
	border-bottom: 8px solid #222;
	padding-top:50px;
	padding-bottom: 50px;
}
div.contenido{
	width: 1100px;
	margin:auto;
	
}
.restaurar{
	clear: both;
}
/* Fondo */
section.cabecera{
	background: none;
	position: absolute;
	top:0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	background: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}
nav{
	margin: 0 3.5rem;
	padding: 26px
}
div.logo{
	float: left;
}
div.login{
	float: right;
}
h1{
	font-size: 3.125rem;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

}
h2{
	font-size: 1.625rem;
    margin: 1rem auto;
	font-weight: 400;  
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
p{
	font-size: 1.2rem;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#correo{
	width: 480px;
	height: 60px;
	
}
#enviar{
	width:200px;
	height: 63px;
	border-radius: 3px;
	border: solid 2px #e50914;
	background-color: #e50914;
	font-size: 1.615rem;
	padding-bottom: 7px;
	text-align: center;
	cursor: pointer;

}
#inicio{
	background-color: #e50914;
	border: solid red 1px;
	border-radius: 3px;
	font-size:1rem;
	padding:7px 17px;
	cursor: pointer;
}

.presentacion{
	position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    margin-top: 7%;
	}

input{
	margin-top: 20px;
	padding-left: 10px;
	font-size: 20px;
	display: inline-block;
}
button #enviar{
	margin-top: 22px;
	display: inline-block;
	 	
	}
#enviar:hover{
	background: red;

}
#inicio:hover{
background: red;

}
.izquierda{
float: left;
 }
.derecha{
	float:right;
	}
.flotantetexto{
	width: 60%;
}
.flotanteImagen{
	width: 39.2%;
}

.tv img{
	width: 100%;
	 height: auto;
	 border: 0;
	 position: relative;
	 z-index: 2;
	 }
.tv h2{
	font-weight: bold;
	font-size: 45px

}
.tv p{
	font-weight: 200px;
	font-size: 25px;
}
.tv video{
	position: absolute;
	transform: translate(-374px, 68px);
    width: 313px;
    z-index: 1;
	 }
#video2{
	transform: translate(-349px, 36px);
    position: absolute;
    width: 263px;
	 }
.tarjetaInt{
	display: flex;
	justify-content: center;
	align-items: center;
	 }

	 /*contenido de preguntas*/
.preguntas h1{
	margin-bottom: 50px; 	
	 }
.contPreguntas{
	width: 800px;
	 margin: auto;
	 text-align: center;
	 }
.contPreguntas div{
	text-align: left;
}
.pregunta{
	background: #303030;
	padding: 25px;
	margin-top: 5px;
	margin-bottom: 8px;
	 }
.respuesta{
    background: #303030;
    margin-top: 5px;
    margin-bottom: 8px;
	 	}
.pregunta:hover .respuesta{
	max-height: 700px;
}
	

.respuesta{
	max-height: 0px;
	overflow: hidden;
	transition: all 1s;
	}

.pieContenido{
	width: 1000px;
	margin: auto;
	display: flex;
	justify-content: flex;
	text-align: justify-all;

}

.pie p{
	padding:10px;
}
#contPie{
	width: 250px;
}
.tv .pie{
	border: none;
}